*{

    margin: 0;
    padding: 0;
}

.machine{
    background-color: #DAFFFB;
    height: 100vh;

}

.machinebut h2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* label {
    
} */


.lab{
    padding: 200px 70px;
    font-size: 200px;

}

.mlinput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    
    

}

/* input{
} */

.addfile{
    display: none;

}

.mli{
    background-color: #1F4172;
    color: white;
    border-radius: 25px ;
    border: 5px solid black;
}

.scanbut{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}

.butt{
    padding: 10px 89px;
    font-size: 30px;
    color: white;
    background-color: rgba(23, 107, 135, 0.60);
    border-radius: 50px;
    cursor: pointer;
}

.butt:hover{
    background-color:#04364A ;
    

}

