*{
    margin: 0;
    padding: 0;
}

.HomePage{
    background-color: #DAFFFB;
    height: 100vh;
    cursor: none;
    overflow: hidden;
    font-family: 'Urbanist', sans-serif;

}

.HomeBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}

.imgbottom1{
    width: 800px;
    height: 500px;
    border-radius: 265px;
    
}

.bottomtext{
    width: 40%;
    font-weight: 900;
    font-size: 40px;
    font-weight: lighter;
    
}
.saidby{
    font-size: 30px;
}

.virtual
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   
    
}

.consult{
    padding: 15px 30px;
    border-radius: 30px;
    margin: 30px;
    background-color: #4F709C;
    color: white;
    font-weight: 600;
}

.consult:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    background-color: #64CCC5;
    background-color: ;
}

.quote:hover{
    
}




  

  
  .Ani {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: rgb(171, 171, 159); */
  }
  
  .title {
    font-size: 10rem;
  }
  
  .cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  }